.container {
  width: 85vw;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 0.5rem;
  margin: 0 auto;
  text-align: center;
}

.subtitle {
  width: 85vw;
  margin: 0.5rem auto;
  background: whitesmoke;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 0.2rem;
  color: grey;
  font-weight: 100;
}

.form {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}

.form input {
  border: none;
  border-bottom: 1px solid rgb(192, 190, 190);
  outline: lightgrey;
}

.btn {
  width: 100%;
  margin: 1rem auto;
  padding: 0.1rem;
  border: 1px dotted grey;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  transition: all 1.5s ease;
  outline: lightgrey;
}

.btn:hover {
  transform: translateY(1rem);
}
