@import url("https://fonts.googleapis.com/css2?family=Fondamento&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Fondamento", cursive;
}

ul {
  list-style-type: none;
}

.no-users {
  width: 85vw;
  background: whitesmoke;
  margin: 0 auto;
  text-align: center;
}

.sub-title {
  padding: 0.2rem;
  background: rgb(231, 231, 231);
  color: grey;
  font-weight: 100;
}

.no-user {
  width: 30%;
}

@media only screen and (max-width: 800px) {
  .no-user {
    width: 80%;
  }
}
