.edit-image {
  width: 100%;
  background: whitesmoke;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.edit-img {
  width: 5%;
  opacity: 0.7;
  padding: 0.2rem;
}

@media only screen and (max-width: 800px) {
  .edit-img {
    width: 17%;
  }
}
